<section class="chart">
    <!-- <pre>{{marketPrice|json}}</pre> -->
    <!-- <google-chart #chart [title]="marketPrice.name" [type]="type" [data]="data" [columnNames]="columnNames"
        [options]="options" [width]="width" [height]="height">
    </google-chart> -->
    <ngx-charts-bar-vertical [view]="[1000,400]" [results]="data|slice:0:30" [xAxisLabel]="'Products'"
        [legendTitle]="'Product Sale Chart'" [yAxisLabel]="'Sale'" [legend]="true" [showXAxisLabel]="true"
        [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="true">
    </ngx-charts-bar-vertical>
</section>