<section class="contact-edit">
    <h1 class="title">{{contact._id ? 'Edit' : 'Add'}} contact</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="name"> <span>Name:</span>
            <input [(ngModel)]="contact.name" type="text" name="name" id="name">
        </label>
        <label for="phone"> <span>Phone:</span>
            <input [(ngModel)]="contact.phone" type="tel" name="phone" id="phone">
        </label>
        <label for="email"> <span>Email:</span>
            <input [(ngModel)]="contact.email" type="email" name="email" id="email">
        </label>
        <div class="buttons-container flex space-between">
            <button>Save</button>
            <button (click)="onBack()">Back</button>
        </div>
    </form>
</section>