.contact-preview {
    width: 350px;
    display: flex;
    align-items: center;
    background-color: rgb(180, 246, 246);
    box-shadow: 1px 1px 1px black;
    border-radius: 50px;
    cursor: pointer;
    .contact-name {
        padding: 1rem;
        flex-grow: 1;
    }
    .contact-img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-size: 50px;
        margin-left: 2px;
        transition: ease-in-out 0.3s;
    }

    .actions {
        display: flex;
        margin-right: 2px;
        gap: 5px;
        visibility: hidden;
        transition: visibility 0.2s;

        > * {
            background-color: rgb(233, 233, 233);
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: none;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &:hover {
        box-shadow: 1px 1px 4px black;
        .actions {
            visibility: visible;
        }
    }
}
